* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: auto;
  width: 70%;
  height: 300px;
}

.buttons {
  width: auto;
  height: 200px;
}

#btn-yes, #btn-no {
  color: #FFFFFF;
  width: 50px;
  height: 30px;
  background-color: #9263C6;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

#btn-yes {
  position: absolute;
  margin-top: 0%;
  margin-left: 25%;
  margin-top: 10%;
}

#btn-no {
  position: absolute;
  margin-top: 0%;
  margin-left: 38%;
  margin-top: 10%;
}

header {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.473);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 40%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  animation-name: modal;
  animation-duration: 500ms;
  border-radius: 5px;
  padding: 5px;
}

.modal-footer {
  border-radius: 5px;
}

@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #0000007e;
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal-footer {
  padding: 8px 16px;
  background: #34495e;
  color: #f2f2f2;
}

.holi {
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.phrases {
  padding: 20px;
  margin: auto;
  text-align: center;
}

.title {
  padding-top: 15px;
  margin: auto;
  text-align: center;
}

p {
  width: auto;
  padding: 10px;
  color: white;
  background-color: #9263c6;
  border-radius: 5px;
}

.img-contaires {
  justify-content: center;
}